@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/buttons.scss';

.header-nav {
    display: flex;
    height: 8%;
    padding: 1em 2em;
    align-items: center;
    justify-content: space-between;
    padding-left: 6em;

    .nav-logo img{
        width: 4em;
    }
    .nav ul {
        text-transform: uppercase;
        list-style: none;
        text-align: center;
        justify-content: center;
        margin: 0 2rem;
        display: inline-flex;
    }
    .nav li a {
        text-decoration: none;
        font-weight: 900;
        font-size: 1.1em;
        font-family: $font-medium;
        letter-spacing: 0.5px;
        transition: color 0.5s ease-in;
        color: $white;
        cursor: pointer;
    }
    .nav li a:hover{
        color: $dark-orange;
    }
    .active{
        color: $dark-orange !important;
    }
}




