<div class="container-about">
  <article class="content-about">
    <h1>Sobre <span class="border-h1-bottom">nós</span></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Maiores tenetur nostrum voluptate eligendi, est enim nam
      quasi. Quibusdam, eaque natus. Impedit quod nulla ab perferendis
      nostrum temporibus, commodi hic repellendus.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Maiores tenetur nostrum voluptate eligendi, est enim nam
      quasi. Quibusdam, eaque natus. Impedit quod nulla ab perferendis
      nostrum temporibus, commodi hic repellendus.
    </p>
  </article>
  <article class="container-mvv">
    <div>
      <h1>Mis<span class="border-h1-bottom">são</span></h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur
        adipisicing elit.
        Veniam
        Lorem ipsum, dolor sit amet consectetur
        adipisicing elit.
      </p>
    </div>
    <div>
      <h1>Vi<span class="border-h1-bottom">são</span></h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur
        adipisicing elit.
        Veniam
      </p>
    </div>
    <div>
      <h1>Valo<span class="border-h1-bottom">res</span></h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur
        adipisicing elit.
        Veniam
      </p>
    </div>
  </article>
</div>
